
<div class="container hidden-xs " id="mama-body">
	<div style="text-align: center;padding-top: 50px">
		<div>
			<img src="__S__images/zhoukai.jpg" alt="" height="200px" class="img-circle">
			<h2>周凯<small>-WEB全栈工程师</small></h2>
			<h4>学习难免陷入混沌，学会与精通还有很大距离，不断的积累，从MaMa开始。（红牛说：我的能量超乎想象！）</h4>

		</div>



		<div class="mr_title">
			<span class="mr_title_l"></span><span class="mr_title_c">个人资料</span><span class="mr_title_r"></span>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<table class="table text-center intro-table" >

					<tbody>
					<tr>
						<td>姓名：周凯</td>
						<td>QQ:11335527</td>

					</tr>
					<tr>
						<td>出生：1990</td>
						<td>籍贯:吉林-长春</td>

					</tr>
					<tr>
						<td>院校：烟台南山学院</td>
						<td>专业:软件工程</td>
					</tr>

					<tr>
						<td>就读时间：2010-2013</td>
						<td>学历:专科</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>


		<div>
			<div class="mr_title">
				<span class="mr_title_l"></span><span class="mr_title_c">专业技能</span><span class="mr_title_r"></span>
			</div>
			<dl class="dl-horizontal " style="text-align: left">
				<p><dt>前端</dt>
				<dd>精通HTML、DIV+CSS、JS/Jquery、bootstrap以及众多前端插件的运用</dd></p>
				<p><dt>PHP</dt>
				<dd>通晓php底层原理，设计模式。精通tp5框架，掌握Memcache/Redis等缓存技术</dd></p>
				<p><dt>Mysql</dt>
				<dd>合理的表结构设计，熟悉事务、触发器、存储过程、sql编程、主从复制，读写分离等技巧</dd></p>
				<p><dt>服务器</dt>
				<dd>熟悉linux常用命令、linux搭建LAMP/LNMP环境。服务器集群，分布式，负载均衡</dd></p>
				<p><dt>团队协作</dt>
				<dd>SVN、Git版本控制工具的搭建与运用 ，GitHub团队协作</dd></p>
				<p><dt>设计</dt>
				<dd>2年设计经验，玩转PS，DW,PR等工具</dd></p>
				<p><dt>编辑器</dt>
				<dd>PhpStrom</dd></p>
			</dl>

		</div>
		<div>
			<div class="mr_title">
				<span class="mr_title_l"></span><span class="mr_title_c">技能评价</span><span class="mr_title_r"></span>
			</div>


				<script type="text/javascript">
					jQuery(document).ready(function($)
					{
						$("#bar-1").dxChart({
							dataSource: [
								{day: "PHP", sales: 92},
								{day: "Mysql", sales: 86},
								{day: "Jquery", sales: 88},
								{day: "TP5", sales: 96},
								{day: "Html/css", sales: 78},
								{day: "Bootstrap", sales: 90},
								{day: "Linux", sales: 66},
								{day: "PS", sales: 88},
								{day: "SVN", sales: 82},
								{day: "Premiere", sales: 30}
							],

							series: {
								argumentField: "day",
								valueField: "sales",
								name: "熟练度",
								type: "bar",
								color: '#5cb85c'
							}
						});


					});


				</script>
				<div id="bar-1" style="height: 440px; width: 100%;"></div>




		</div>

		<div>
			<div class="mr_title">
				<span class="mr_title_l"></span><span class="mr_title_c">工作经历</span><span class="mr_title_r"></span>
			</div>


			<div class="div">
				<h4>亿点时代科技有限公司<small>2016.5-2016.7</small></h4>
				<span class="label label-success">PHP工程师</span>
			</div>
			<div class="div">
				<h4>山东康贝电商<small>2014.8-2016.3</small></h4>
			<span class="label label-success">美工、PHP程序员</span>
			</div>

			<div class="div">
				<h4>LADY百分百淘宝店<small>2014.5-2014.7</small></h4>
				<span class="label label-success">美工</span>
			</div>

			<div class="div">
				<h4>淘宝店-美工设计服务<small>2013.4-2014.4</small></h4>
				<span class="label label-success">美工</span>
			</div>


			<div class="div">
				<h4>青岛晨之晖信息服务有限公司 <small>2012.11-2013.3</small></h4>
				<span class="label label-success">网站销售</span>
			</div>

		</div>

		<div>
			<div class="mr_title">
				<span class="mr_title_l"></span><span class="mr_title_c">自我描述</span><span class="mr_title_r"></span>
			</div>
			<div>
				<p>从设计转编程，不是不爱设计，而是深深的被编程所吸引，编程像是赋予了自己更大的创造力，可以‘设计’更多的东西，我高中是个特别厌烦学习的人，编程让我变了一个人，上班的路上背单词，下班后感觉吃饭都是在挤占学习时间，自己变的越来越宅了。多数的时间都让给了编程，感觉就像跟年龄在赛跑，26岁是人记忆力衰退的分隔线，我尽量争取在有能力学习的时候去学习更多。</p>

			</div>


			<div style="margin-bottom: 150px"></div>

		</div>

	</div>
</div>

<div class="container visible-xs">
	<div   style="text-align: center;padding-top: 50px">
		<img src="__S__images/zhoukai.jpg" alt="" height="150px" class="img-circle">
		<h2>周凯</h2>
		<p>2013年毕业与烟台南山学院，软件工程专业,毕业后做了2年UI,于14年底开始PHP开发。</p>
		<div class="mr_title">
			<span class="mr_title_l" style="width: 30px"></span><span class="mr_title_c">个人资料</span><span class="mr_title_r" style="width: 30px"></span>
		</div>
		<table class="table table-condensed" style="text-align: left;border: 0">

			<tbody>
			<tr>
				<td>姓名：周凯</td>
				<td>QQ:11335527</td>

			</tr>
			<tr>
				<td>出生：1990</td>
				<td>籍贯:吉林-长春</td>

			</tr>
			<tr>
				<td>院校：烟台南山学院</td>
				<td>专业:软件工程</td>
			</tr>

			<tr>
				<td>就读时间：2010-2013</td>
				<td>学历:专科</td>
			</tr>
			</tbody>
		</table>

	</div>
	<div style="text-align: center">
		<div class="mr_title">
			<span class="mr_title_l"  style="width: 30px"></span><span class="mr_title_c">技能评价</span><span class="mr_title_r"  style="width: 30px"></span>
		</div>


		<script type="text/javascript">
			jQuery(document).ready(function($)
			{
				$("#bar-2").dxChart({
					dataSource: [
						{day: "PHP", sales: 92},
						{day: "Mysql", sales: 86},
						{day: "Jquery", sales: 88},
						{day: "TP5", sales: 96},
						{day: "Html/css", sales: 78},
						{day: "Bootstrap", sales: 90},
						{day: "Linux", sales: 66},
						{day: "PS", sales: 88},
						{day: "SVN", sales: 82},
						{day: "Premiere", sales: 30}
					],

					series: {
						argumentField: "day",
						valueField: "sales",
						name: "熟练度",
						type: "bar",
						color: '#5cb85c'
					}
				});


			});


		</script>
		<div id="bar-2" style="height: 440px; width: 100%;"></div>




	</div>
	<div  style="text-align: center;padding-top: 30px">
		<div class="mr_title">
			<span class="mr_title_l" style="width: 30px"></span><span class="mr_title_c">专业技能</span><span class="mr_title_r" style="width: 30px"></span>
		</div>
		<dl class="dl-horizontal " style="text-align: left">
			<p><dt>前端</dt>
			<dd>精通HTML、DIV+CSS、Jquery、bootstrap</dd></p>
			<p><dt>PHP</dt>
			<dd>通晓php底层原理，设计模式。精通thinkphp框架，掌握Memcache/Redis等缓存技术，页面静态化，API接口开发</dd></p>
			<p><dt>Mysql</dt>
			<dd>合理的表结构设计，熟悉事务、触发器、存储过程、sql编程、主从复制等技巧</dd></p>
			<p><dt>服务器</dt>
			<dd>熟悉linux常用命令、linux搭建LAMP环境。</dd></p>
			<p><dt>团队协作</dt>
			<dd>SVN版本控制工具的搭建与运用</dd></p>
			<p><dt>设计</dt>
			<dd>可独立完成活动图片的设计与制作，精通ps</dd></p>
			<p><dt>编辑器</dt>
			<dd>PhpStrom</dd></p>
		</dl>
	</div>

	<div style="text-align: center">
		<div class="mr_title">
			<span class="mr_title_l" style="width: 30px"></span><span class="mr_title_c">工作经历</span><span class="mr_title_r" style="width: 30px"></span>
		</div>


		<div class="div">
			<h5>亿点时代科技有限公司<small>2016.5-2016.7</small></h5>
			<span class="label label-success">PHP工程师</span>
		</div>
		<div class="div">
			<h5>山东康贝电商<small>2014.8-2016.3</small></h5>
			<span class="label label-success">美工、PHP程序员</span>
		</div>

		<div class="div">
			<h5>LADY百分百淘宝店<small>2014.5-2014.7</small></h5>
			<span class="label label-success">美工</span>
		</div>

		<div class="div">
			<h5>淘宝店-美工设计服务<small>2013.4-2014.4</small></h5>
			<span class="label label-success">美工</span>
		</div>


		<div class="div">
			<h5>青岛晨之晖信息服务有限公司 <small>2012.11-2013.3</small></h5>
			<span class="label label-success">网站销售</span>
		</div>

	</div>

	<div style="text-align: center">
		<div class="mr_title">
			<span class="mr_title_l" style="width: 30px"></span><span class="mr_title_c">自我描述</span><span class="mr_title_r" style="width: 30px"></span>
		</div>
		<div>
			<p>从设计转编程，不是不爱设计，而是深深的被编程所吸引，编程像是赋予了自己更大的创造力，可以‘设计’更多的东西，我高中是个特别厌烦学习的人，编程让我变了一个人，上班的路上背单词，下班后感觉吃饭都是在挤占学习时间，自己变的越来越宅了。多数的时间都让给了编程，感觉就像跟年龄在赛跑，26岁是人记忆力衰退的分隔线，我尽量争取在有能力学习的时候去学习更多。</p>

		</div>




	</div>
	<div style="margin-bottom: 50px"></div>
</div>


{include file="public/bottom"/}
<script src="__S__/js/globalize.min.js"></script>
<script src="__S__/js/dx.chartjs.js"></script>
<script>
	//footer:margin-top
	var $prevDiv = $("#mama-body");
	var $footer = $("footer");
	var all = $(window).height();//是文档窗口高度
	var top = $prevDiv.offset().top;//是标签距离顶部高度
	var scroll = $(document).scrollTop();//是滚动条高度
	var height = $prevDiv.height();//是标签高度
	var f = $footer.height();
	//你要的高度
	var margin_top = all - height - (top - scroll) - f - 20;
	if (margin_top > 0) {
		$footer.css('margin-top', margin_top);
	} else {
		$footer.css('margin-top', '10px');
	}
	$footer.fadeIn("slow");
</script>