

    <div class="container" id="mama-body">
        <div class="row">
            <div class="col-md-12 hs-menu">

                <div style="border-bottom: 1px solid #ddd"><h4 style="margin-left: 10px">导航</h4></div>
                <div style="  border-bottom:1px solid #ddd;">
                <span class="text-primary pull-left" style="padding: 15px">分类</span>
                <div class="hs-art-menu" ><ul class="list-inline" style="margin-bottom: 0">


                    <li><a href="__SITE__" class="{$dir_id==0?'btn btn-success btn-xs hvr-round-corners':''}" >全部</a></li>
                        {foreach $dir as $vo}

                    <li><a href="__SITE__dir/{$vo.id}"  class="{$dir_id==$vo.id?'btn btn-success btn-xs hvr-round-corners':''}">{$vo.name}</a></li>
                    {/foreach}


                </ul></div>
                    </div>
                <div style="  border-bottom:1px solid #ddd;">
                    <span class="text-primary pull-left" style=" padding: 15px">菜单</span>
                    <div class="hs-art-menu" >
                        <ul class="list-inline" style="margin-bottom: 0">

                            {foreach $son as $vo}

                            <li><a href="__SITE__dir/{$vo.id}"  class="{$dir_id==$vo.id?'btn btn-success btn-xs hvr-round-corners':''}" >{$vo.name}</a></li>
                            {/foreach}
                        </ul>
                    </div>
                </div>

                <div class="menu-footer">

                    <ul class="list-inline">
                        <li><a href="__SITE__dir/{$dir_id?$dir_id:'0'}" class="{$Think.get.sort?'':'btn btn-success btn-xs hvr-round-corners'}" style="margin-right: 30px;padding-left: 5px ;">最新</a></li>
                        <li><a href="__SITE__dir/{$dir_id?$dir_id:'0'}/sort/review" class="{$Think.get.sort?'btn btn-success btn-xs hvr-round-corners':''}" >复习</a></li>


                    </ul>
                </div>

            </div>

            <div class="col-md-9">
                <div class="list-group">


                    {volist name='article' id='v'}
                    <div class="list-group-item">

                        <h4 class="list-group-item-heading"><a href="__SITE__art/id/{$v.id}">{$v.title}</a>&nbsp;<small><span class="label label-success">{$v.dirName.name}</span></small></h4>

                        <ul class="list-inline text-muted" style="margin-bottom: 0px;">
                            <li class="hidden-xs"><small>创建时间：<span class="text-primary">{$v.create_time}</span></small></li>
                            <li ><small>复习时间：<span class="text-primary">{$v.review_time}</span></small></li>
                            <li><small>复习次数：<span class="text-primary" id="review_count">{$v.review_count}</span></small></li>
                            <li  class="hidden-xs"><small>复习状态：<span class="text-danger" id="review_status">{$v.status}</span></small></li>


                        </ul>

                    </div>
                    {/volist}

                    {$article->render()}
                </div>
            </div>
            <div class="col-md-3">

                <div class="list-group" id="hs-plan">
                    <div class="list-group-item ">
                        <h4>学习清单 <span class="fa fa-plus-square-o pull-right" id="plan-plus"
                                   style="line-height: 22px;margin-right: 0"></span></h4>
                    </div>
                    {foreach $plan as $k=>$vo}
                    <div data-id="{$vo.id}" class="list-group-item plan-list"><strong class="text-primary">{$k+1}.</strong>&nbsp;{$vo.text}</div>

                    {/foreach}


                </div>




            </div>



        </div>
    </div>


{include file="public/bottom"/}
<script src="http://apps.bdimg.com/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="__S__/smartMenu/smartMenu.css">
<script src="__S__/smartMenu/jquery-smartMenu-min.js"></script>
<script>
    $(function () {

        //footer:margin-top
        var $prevDiv = $("#mama-body");
        var $footer = $("footer");
        var all = $(window).height();//是文档窗口高度
        var top = $prevDiv.offset().top;//是标签距离顶部高度
        var scroll = $(document).scrollTop();//是滚动条高度
        var height = $prevDiv.height();//是标签高度
        var f = $footer.height();
        //你要的高度
        var margin_top = all - height - (top - scroll) - f - 20;
        if (margin_top > 0) {
            $footer.css('margin-top', margin_top);
        } else {
            $footer.css('margin-top', '10px');
        }
        $footer.fadeIn("slow");

        var $plan = $('#hs-plan');

        //右键菜单
        var data = [[{
            text: "删除",
            func: function () {
                var $this = $(this);
                var id = $this.attr('data-id');
                console.log(id);

                $.post('__INDEX__note/delPlan',{id:id},function(msg){
                    switch (msg.status){
                        case 1:
                            $this.remove();
                            break;
                        case 3:
                            $('#alert-modal').modal();
                            break;
                    }

                })

            }
        }]];
        $plan.find('.plan-list').smartMenu(data);









        //移动plan事件
        $plan.sortable({
            cursor: "move",
            items: ".plan-list", //只是li可以拖动
            opacity: 0.6, //拖动时，透明度为0.6
            revert: true, //释放时，增加动画
            update: function (event, ui) { //更新排序之后
                var str = '';
                $('.plan-list').each(function () {
                    var dataId = $(this).attr('data-id');
                    str = str + dataId + ',';
                });
                $.post('__INDEX__note/SortPlan', {order: str},function(){

                });
            }
        });


        //添加plan
        $('#plan-plus').on('click', function () {

            var $this=$(this).parent().parent();
            var input = $('<div class="list-group-item plan-list"><input type="text" class="form-control hs-input"></div>');
            $this.after(input);
        });


        $plan.on('dblclick', '.plan-list', function () {
            var $this = $(this);
            var text = $this.text();
            var input = $('<input type="text" class="form-control hs-input" value="' + text + '">');
            $this.empty().append(input);
            input.focus();
        });

        $plan.on('blur', '.hs-input', function () {
            var $this = $(this).parent();
            var val = $(this).val();
            var id = $this.attr('data-id');
            var type= $this.attr('data-type');

            $.post('__INDEX__note/renamePlan', {id: id, text: val}, function (msg) {

                switch (msg.status) {
                    case 1:
                        $this.text(val);
                        break;
                    case 2:
                        $this.attr('data-id', msg.content);
                        $this.text(val);
                        break;
                    case 3:
                        $('#alert-modal').modal();
                        break;
                    case 0:

                        var alert = $('<div class="alert alert-warning" style="display: none"><strong>警告！</strong>' + msg.content + '</div>');
                        $this.before(alert);
                        alert.slideDown('fast');
                        setTimeout(function () {
                            alert.slideUp('fast');
                            alert.remove();
                        }, 2000);
                        break;
                }

            });

        });


    })
</script>



