<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

    <link rel="stylesheet" type="text/css" href="__S__3d-show/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="__S__3d-show/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="__S__3d-show/css/component.css" />
    <script src="__S__3d-show/js/modernizr.custom.js"></script>
</head>
<body class="demo-1">
<canvas id="Mycanvas" class="hidden-xs" style="margin-top: -20px"></canvas>
<main class="hidden-xs" >

    <div class="isolayer isolayer--scroll1 isolayer--shadow" style="top: -200px;">
        <ul class="grid grid--effect-flip">
            <li class="grid__item">
                <a class="grid__link" href="__SITE__haier">
                    <img class="grid__img layer" src="__S__3d-show/img/project/haier_2.jpg" alt="Canvas Dummy" />
                    <img class="grid__img layer" src="__S__3d-show/img/wireframe.png" alt="Wireframe Dummy" />
                    <img class="grid__img layer" src="__S__3d-show/img/project/haier_1.jpg" alt="01" />
                    <span class="grid__title">海尔全球员工沟通平台</span>
                </a>
            </li>
            <li class="grid__item">
                <a class="grid__link" href="http://www.topp123.com/anti">
                    <img class="grid__img layer" src="__S__3d-show/img/canvas.png" alt="Canvas Dummy" />
                    <img class="grid__img layer" src="__S__3d-show/img/project/anti_2.jpg" alt="Wireframe Dummy" />
                    <img class="grid__img layer" src="__S__3d-show/img/project/anti_1.jpg" alt="021" />
                    <span class="grid__title">锐登溯源防伪系统</span>
                </a>
            </li>
            <li class="grid__item">
                <a class="grid__link" href="__SITE__proIntro">
                    <img class="grid__img layer" src="__S__3d-show/img/canvas.png" alt="Canvas Dummy" />
                    <img class="grid__img layer" src="__S__3d-show/img/project/abc_2.jpg" alt="Wireframe Dummy" />
                    <img class="grid__img layer" src="__S__3d-show/img/project/abc_1.jpg" alt="03" />
                    <span class="grid__title">海尔词典</span>
                </a>
            </li>
            <li class="grid__item">
                <a class="grid__link" href="http://www.zcool.com.cn/u/2068596">
                    <img class="grid__img layer" src="__S__3d-show/img/project/zcool_3.jpg" alt="Canvas Dummy" />
                    <img class="grid__img layer" src="__S__3d-show/img/project/zcool_2.jpg" alt="Wireframe Dummy" />
                    <img class="grid__img layer" src="__S__3d-show/img/project/zcool_1.jpg" alt="03" />
                    <span class="grid__title">设计作品</span>
                </a>
            </li>


        </ul>
    </div>
</main>
<a class="pater hidden-xs" href="#" style="font-size: 12px;">
    <p class="pater__desc">项目案例</p>
</a>


<div class="container visible-xs" >
    <div  style="background-color: white;padding: 10px;margin-bottom: 20px">
        <a href="__SITE__proIntro"><img src="__S__3d-show/img/project/abc_1.jpg" alt="" class="img-responsive"></a>

        <h4 style="margin-top: 10px;padding-top:10px;border-top: 1px dashed #9d9d9d"><a class="text-primary" href="__SITE__proIntro">海尔词典</a></h4>
        <p>负责模块：<span class="text-primary">API,后台</span>&nbsp;&nbsp;开发周期：<span class="text-primary">30天</span></p>
    </div>
    <div style="background-color: white;padding: 10px;margin-bottom: 20px">
        <a href="http://www.topp123.com/haier"><img src="__S__3d-show/img/project/haier_1.jpg" alt="" class="img-responsive"></a>

        <h4 style="margin-top: 10px;padding-top:10px;border-top: 1px dashed #9d9d9d"><a class="text-primary" href="__SITE__haier">海尔全球沟通平台</a>
        </h4>
        <p>负责模块：<span class="text-primary">全栈</span>&nbsp;&nbsp;开发周期：<span class="text-primary">40天</span></p>
    </div>
    <div style="background-color: white;padding: 10px;margin-bottom: 20px">
        <a href="http://www.topp123.com/anti"><img src="__S__3d-show/img/project/anti_1.jpg" alt="" class="img-responsive"></a>

        <h4 style="margin-top: 10px;padding-top:10px;border-top: 1px dashed #9d9d9d"><a class="text-primary" href="http://www.topp123.com/anti">锐登溯源防伪系统</a>
        </h4>
        <p>负责模块：<span class="text-primary">全栈</span>&nbsp;&nbsp;开发周期：<span class="text-primary">60天</span></p>
    </div>
    <div style="background-color: white;padding: 10px;margin-bottom: 20px">
        <a href="http://www.zcool.com.cn/u/2068596"><img src="__S__3d-show/img/project/zcool_1.jpg" alt="" class="img-responsive"></a>

        <h4 style="margin-top: 10px;padding-top:10px;border-top: 1px dashed #9d9d9d"><a class="text-primary" href="http://www.zcool.com.cn/u/2068596">设计作品</a>
        </h4>
        <p>负责模块：<span class="text-primary">全栈</span>&nbsp;&nbsp;开发周期：<span class="text-primary">60天</span></p>
    </div>
</div>
<script src="__S__3d-show/js/imagesloaded.pkgd.min.js"></script>
<script src="__S__3d-show/js/masonry.pkgd.min.js"></script>
<script src="__S__3d-show/js/dynamics.min.js"></script>
<script src="__S__3d-show/js/classie.js"></script>
<script src="__S__3d-show/js/animOnScroll.js"></script>
<script src="__S__3d-show/js/main.js"></script>

<script>
    //定义画布宽高和生成点的个数
    var WIDTH = window.innerWidth, HEIGHT = window.innerHeight, POINT = 35;

    var canvas = document.getElementById('Mycanvas');
    canvas.width = WIDTH,
            canvas.height = HEIGHT;
    var context = canvas.getContext('2d');
    context.strokeStyle = 'rgba(0,0,0,0.2)',
            context.strokeWidth = 1,
            context.fillStyle = 'rgba(0,0,0,0.1)';
    var circleArr = [];

    //线条：开始xy坐标，结束xy坐标，线条透明度
    function Line (x, y, _x, _y, o) {
        this.beginX = x,
                this.beginY = y,
                this.closeX = _x,
                this.closeY = _y,
                this.o = o;
    }
    //点：圆心xy坐标，半径，每帧移动xy的距离
    function Circle (x, y, r, moveX, moveY) {
        this.x = x,
                this.y = y,
                this.r = r,
                this.moveX = moveX,
                this.moveY = moveY;
    }
    //生成max和min之间的随机数
    function num (max, _min) {
        var min = arguments[1] || 0;
        return Math.floor(Math.random()*(max-min+1)+min);
    }
    // 绘制原点
    function drawCricle (cxt, x, y, r, moveX, moveY) {
        var circle = new Circle(x, y, r, moveX, moveY)
        cxt.beginPath()
        cxt.arc(circle.x, circle.y, circle.r, 0, 2*Math.PI)
        cxt.closePath()
        cxt.fill();
        return circle;
    }
    //绘制线条
    function drawLine (cxt, x, y, _x, _y, o) {
        var line = new Line(x, y, _x, _y, o)
        cxt.beginPath()
        cxt.strokeStyle = 'rgba(0,0,0,'+ o +')'
        cxt.moveTo(line.beginX, line.beginY)
        cxt.lineTo(line.closeX, line.closeY)
        cxt.closePath()
        cxt.stroke();

    }
    //初始化生成原点
    function init () {
        circleArr = [];
        for (var i = 0; i < POINT; i++) {
            circleArr.push(drawCricle(context, num(WIDTH), num(HEIGHT), num(15, 2), num(10, -10)/40, num(10, -10)/40));
        }
        draw();
    }

    //每帧绘制
    function draw () {
        context.clearRect(0,0,canvas.width, canvas.height);
        for (var i = 0; i < POINT; i++) {
            drawCricle(context, circleArr[i].x, circleArr[i].y, circleArr[i].r);
        }
        for (var i = 0; i < POINT; i++) {
            for (var j = 0; j < POINT; j++) {
                if (i + j < POINT) {
                    var A = Math.abs(circleArr[i+j].x - circleArr[i].x),
                            B = Math.abs(circleArr[i+j].y - circleArr[i].y);
                    var lineLength = Math.sqrt(A*A + B*B);
                    var C = 1/lineLength*7-0.009;
                    var lineOpacity = C > 0.03 ? 0.03 : C;
                    if (lineOpacity > 0) {
                        drawLine(context, circleArr[i].x, circleArr[i].y, circleArr[i+j].x, circleArr[i+j].y, lineOpacity);
                    }
                }
            }
        }
    }

    //调用执行
    window.onload = function () {
        init();
        setInterval(function () {
            for (var i = 0; i < POINT; i++) {
                var cir = circleArr[i];
                cir.x += cir.moveX;
                cir.y += cir.moveY;
                if (cir.x > WIDTH) cir.x = 0;
                else if (cir.x < 0) cir.x = WIDTH;
                if (cir.y > HEIGHT) cir.y = 0;
                else if (cir.y < 0) cir.y = HEIGHT;

            }
            draw();
        }, 16);
    }

</script>
<script>
    (function() {
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        [].slice.call(document.querySelectorAll('.isolayer')).forEach(function(el) {
            new IsoGrid(el, {
                type : 'scrollable',
                transform : 'translateX(-15vw) translateY(275px) rotateX(45deg) rotateZ(45deg)',
                stackItemsAnimation : {
                    properties : function(pos) {
                        return {
                            translateZ: (pos+1) * 50,
                            rotateZ: getRandomInt(-3, 3)
                        };
                    },
                    options : function(pos, itemstotal) {
                        return {
                            type: dynamics.bezier,
                            duration: 500,
                            points: [{"x":0,"y":0,"cp":[{"x":0.2,"y":1}]},{"x":1,"y":1,"cp":[{"x":0.3,"y":1}]}],
                            //delay: (itemstotal-pos-1)*40
                        };
                    }
                },
                onGridLoaded : function() {
                    classie.add(document.body, 'grid-loaded');
                }
            });
        });
    })();
</script>
</body>
</html>
